div.footer-nav
	div#footer
		ul
			// Theres shorthand jade for a img
			li(id="li-nav-one")
				a(href='/map'): img(src='images/map.png')
			li(id="li-nav-two")
				a(href='/list'): img(src='images/list.png')
			li(id="li-nav-three")
				a(href='/settings'): img(src='images/gear.png')