div.footer-nav
	div#footer
		ul
			// Theres shorthand jade for a img, not sure what
			li
				a: img(src='../public/images/map.png')
			li
				a: img(src='../public/images/map.png')
			li
				a: img(src='../public/images/map.png')