extends layout

block search
	include includes/search
block content
	div#list-view.container-fluid
		div#fakelist
		ul.list-group
			each object in data
				li.panel-body
					ul
						each val, index in object
							li
								span= index + ": " + val
	div.hiddendata.view
		span #{view}
		
block footer
	include includes/footer-nav