extends layout
block content
	div#settings-page.container-fluid
		h3 User Settings
		div#current-spot
			div#setSpot
				span Current: 
					input(type="text", name="current" id="current" placeholder="#{user.current}")
					button(class="spotset btn", type="submit",name="setSpot") set
			div.overlay
				div#outputInfo
					div#setMessage
					button.btn.closeO Close
				div#rform
						div#header
							h5 Set Reminder
						div#st
							form#input 
								Alert Time:
								input(id="rtime" class="input-small",type="text" name="from")
							div.onoffswitch
								input(class="onoffswitch-checkbox", id="myonoffswitch", name="onoffswitch", type="checkbox", checked)
								label(class="onoffswitch-label", for="myonoffswitch")
									div.onoffswitch-inner
									div.onoffswitch-switch

			div#help-buttons.btn-group
				button(class="btn btn-default remind", type="button", name="set-reminder") Set Reminder
				button(class="btn btn-default check", type="button", name="check") Am I okay?
		div#permits
			span Permit Type: 
			form#selectP
				select(class="permit-types", name="permit-types")
					option(value="none") none
					option(value="NU-Permit-R") NU permit R
					option(value="NU-Permit-visitor") NU visitor
					option(value="NU-student-permit") NU student
					option(value="Evanston-res-permit") Evanston permit
		div#favorites
			span Favorites: 
			ul
				each val in favorites
					li= val
						img(class="deleteFav", src="images/delete.png")
				li
					input(id="addFav",type="text",name="newfav",placeholder="")
					img(src="images/add.png" class="addFav")
		div.hiddendata.settings
			span #{favorites}
		div.hiddendata.user
			span #{user.current}


block footer
	include includes/footer-nav