extends layout
block content
	div#settings-page.container-fluid
		h3 User Settings
		div#current-spot
			div#setSpot
				span Current Spot: 
					input(type="text", name="current" id="current")
					button(class="spotset btn", type="submit",name="setSpot") set
			div#outputInfo
			div#help-buttons.btn-group
				button(class="btn btn-default", type="button", name="set-reminder") Set Reminder
				button(class="btn btn-default check", type="button", name="check") Am I okay?
		div#permits
			span Permit Type: 
			form#selectP
				select(class="permit-types", name="permit-types")
					option(value="none") none
					option(value="NU-Permit-R") NU permit R
					option(value="NU-Permit-visitor") NU visitor
					option(value="NU-student-permit") NU student
					option(value="Evanston-res-permit") Evanston permit
		div#favorites
			span Favorites: 
			ul
				each val in favorites
					li= val
						img(class="deleteFav", src="images/delete.png")
				li
					input(id="addFav",type="text",name="newfav")
					img(src="images/add.png" class="addFav")
			button(class="btn", id="save", type="button", name="save") Save
		div#hiddendata
			span #{favorites}


block footer
	include includes/footer-nav