body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0;
}

/* search box */

.search-visible {
	height: 100%;
	width: 4em;
	float: right;
}

#search-box {
	z-index: 10;
	width: 78%;
	height: 93%; 
	left: -64%;
	position: fixed;
	background: rgb(88,88,113); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(88,88,113,1) 0%, rgba(70,70,97,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(88,88,113,1)), color-stop(100%,rgba(70,70,97,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(88,88,113,1) 0%,rgba(70,70,97,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(88,88,113,1) 0%,rgba(70,70,97,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(88,88,113,1) 0%,rgba(70,70,97,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(88,88,113,1) 0%,rgba(70,70,97,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#585871', endColorstr='#464661',GradientType=0 ); /* IE6-9 */
}

#mag-click {
	margin: 1em;
	float: right;
}

#main-search {
	margin: 1.5em auto;
	display: block;
	width: 60%;
}

.search-main ul {
	list-style-type: none;
	color: white;
}

.sel {
	clear: left;
	height: 3em;
	margin-bottom: 1em;
	width: 13em;
}

.filter img, .filter label, .filter input {
	float: left;
}

.filter img {
	margin-right: 12px;
}

.filters ul {
	margin: 2em 0 0 0;
}
.ftitle {
	border-bottom: 1px solid white;
	margin-bottom: 1em;
	width: 15em;
	clear: left;
}

.ftitle p {
	margin: 0;
}

.first {
	height: 1.5em;
}

.ssel select {
	width: 4em;
	float: left;
	margin-left: 2em;
}

.slabel {
	margin:	5px 0 0 10px;
}

#timefilter {
	margin: 4px;
}

#timefilter li {
	float: left;
	margin: 0 3px 0 0;
}

#timepicker2 {
	margin: 10px 0 2em;
}
#timepicker2, #timepicker1 {
	width: 4em;
	margin: 0;
}
#searchb {
	display: block;
	margin: 0 auto;
	width: 55%
}
#till p {
	margin: 5px 0;
}

#key li {
	line-height: 25px;
	padding: 5px 0 0 10px;
}

#keytitle p {
	margin: 0;
}

#keytitle {
	padding: 0 !important;
	border-bottom: 1px solid white;
	width: 15em;
	line-height: 20px !important;
}

#key img {
	padding-right: 10px;
}

/* footer */

#footer {
	z-index: 15;
	height: 4em;
	bottom: 0;
	width: 100%;
	position: fixed;
	background: rgb(88,88,113); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(88,88,113,1) 0%, rgba(70,70,97,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(88,88,113,1)), color-stop(100%,rgba(70,70,97,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(88,88,113,1) 0%,rgba(70,70,97,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(88,88,113,1) 0%,rgba(70,70,97,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(88,88,113,1) 0%,rgba(70,70,97,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(88,88,113,1) 0%,rgba(70,70,97,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#585871', endColorstr='#464661',GradientType=0 ); /* IE6-9 */

}

#footer ul {
	list-style-type: none;
	width: 100%;
	margin: 0;
}

#footer li {
	width: 33%;
	float: left;
	line-height: 4em;
	height: 3em;
	padding-top: 1em;
}

#footer li img {
	display: block;
	margin: 0 auto; 
}

#li-nav-one, #li-nav-two {
	border-right: 1px solid white;
}


/* map view */

#map-view {
	height: 42em;
}

/* list page */



#list-view ul {
	list-style-type: none;
	z-index: -10;
}

li.panel-body {
	padding: 5px 0 5px 0;
}

li.panel-body:nth-child(even) {
	background-color: #FAFAFA;
}

li.panel-body:nth-child(odd) {
	background-color: #EFEFEF;
}

.list-group {
	visibility: hidden;
	margin: 0 0 0 30px;
	width: 97%;
	overflow: scroll;
	height: 40em;
}

#fakelist {
	width: 97%;
	background:#EFEFEF;
}

/* user settings */

#current {
	margin-left: 3%;
}

#settings-page h3 {
	text-align: center;
	margin-bottom: 1em;
}

#favorites ul {
	list-style-type: none;
	margin: 0;
}

#help-buttons {
	margin: 0 auto;
	display: block;
	width:61%;
}



.permit-types {
	margin-right: 2em;
	margin: 0 auto;
	display: block;
}

#permit-submit {
	margin-left: 2em;
}

#favorites ul li {
	width: 93%;
	float: left;
	clear: both;
	padding: 0.5em;
	font-size: 21px;
	border-top: 1px solid #E1E1E1;
}

#favorites {
	margin-top: 2em;
	float: left;
	width: 100%;
}

#favorites ul li img {
	float: right;
	width: 20px;
}

#permits {
	margin-top: 2em;
	float: left;
	width: 100%;
}

#favorites {
	margin-top: 2em;
}

#favorites input {
	width: 80%;
	margin: 0;
}

#setSpot {
	width: 100%;
	display: block;
	margin-bottom: 1.5em;
}

button.spotset {
	float: right;
}

#favorites li:nth-child(odd) {
	background-color: #EFEFEF;
}

#favorites li:nth-child(even) {
	background-color: #FAFAFA;
}

.hiddendata {
	visibility: hidden;
}

/* modals */

#outputInfo {
	padding: 2%;
	margin: 45% auto;
	color: white;
	border-radius: 3px;
	width: 50%;
	text-align:center;
	position: relative;
	border-color: 1px solid #333333;
	border-radius: 5px;
	background-color: #FFFFFF;
	z-index: 10;
	display: none;
}

.overlay {
	display: none;
	background: rgba(51,51,51,0.5);
	border-color: 1px solid #333333;
	border-radius: 5px;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	cursor: pointer;
}

.close.btn {
	padding: 2px 5px;
	cursor: pointer;
}

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    margin: 0 auto;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}

.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #4F4F69; color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    width: 18px; margin: 6px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

#rform {
	display: none;
	margin: 45% auto;
	width: 47%;
	background: #FFFFFF;
	padding: 3%;
	border-radius: 5px;
	border: 1px solid #333333;
}

#header {
	color: #333333;
	text-align: center; 
}

#rtime {
	margin-left: 13px;
}

/* RESPONSIVE LAYOUT DESIGN */

/* smartphones */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	#map-view {width: 360px; height: 500px;}
	.sel {height: 2.5em; margin-bottom: 0;}
	.ftitle {width: 13em;}
	#searchb {width: 40%; margin: 1em auto;}
	#key li {line-height: 1.4em;}
	#key img {width: 1em;}
	#search {margin: 0}
	#keytitle { width: 13em;}
	.list-group {width: 30em;}
	#current {width: %30;}
	#permits {margin-top: 1.2em;}
	#selectP {margin: 0;}
	#favorites {margin-top: 1.2em;}
	#favorites ul li {font-size: 15px; padding: 0.2em;}
	#favorites input {height: 1em;}
	#outputInfo {margin: 50% auto;}


}

/* smartphones landscape */
@media only screen and (min-width: 321px) {
	
}
/* smartphones portrait */
@media only screen and (max-width: 430px) {
	
}

/* iphone4 portrait */
@media (device-height : 480px) and (device-width : 320px) and (-webkit-min-device-pixel-ratio: 2) {
	#map-view {width: 320px; height: 475px;}
}

/* iphone5 portrait */
@media (device-height : 568px) and (device-width : 320px) and (-webkit-min-device-pixel-ratio: 2) {
	#map-view {width: 320px; height: 560px;}
}

/* ipads portrait and landscape */
@media only screen and (min-device-width: 768) and (max-device-width: 1024px) {

}
/* desktops and laptops */
@media only screen and (min-width: 1200px) {

}