body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0;
}

/* search box */

.search-visible {
	height: 100%;
	width: 4em;
	float: right;
}

#search-box {
	width: 78%;
	height: 93%; 
	left: -64%;
	position: fixed;
	background: #5f7b91; /* Old browsers */
background: -moz-linear-gradient(top,  #5f7b91 1%, #566876 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#5f7b91), color-stop(100%,#566876)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #5f7b91 1%,#566876 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #5f7b91 1%,#566876 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #5f7b91 1%,#566876 100%); /* IE10+ */
background: linear-gradient(to bottom,  #5f7b91 1%,#566876 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f7b91', endColorstr='#566876',GradientType=0 ); /* IE6-9 */
}

#mag-click {
	margin: 1em;
	float: right;
}

#main-search {
	margin: 1.5em auto;
	display: block;
	width: 60%;
}

.search-main ul {
	list-style-type: none;
	margin-left: 1.5em;
	color: white;
}

.sel {
	clear: left;
	height: 3em;
	margin-bottom: 1em;
}

.filter img, .filter label, .filter input {
	float: left;
}

.filter img {
	margin-right: 12px;
}

.ssel select {
	width: 4em;
	float: left;
	margin-left: 5em;
}

.slabel {
	margin:	5px 0 0 10px;
}

#timefilter {
	float: left;
	margin-top: 5px;
}

.last {
	clear: left;
	margin-bottom: 10px;
}
#timepicker2 {
	margin: 10px 0 2em;
}

#searchb {
	display: block;
	margin: 0 auto;
	width: 55%
}

#key li {
	line-height: 25px;
	padding: 5px 0 0 10px;
}

#key img {
	padding-right: 10px;
}

/* footer */

#footer {
	height: 4em;
	bottom: 0;
	width: 100%;
	position: fixed;
	background: #5f7b91; /* Old browsers */
background: -moz-linear-gradient(top,  #5f7b91 1%, #566876 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#5f7b91), color-stop(100%,#566876)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #5f7b91 1%,#566876 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #5f7b91 1%,#566876 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #5f7b91 1%,#566876 100%); /* IE10+ */
background: linear-gradient(to bottom,  #5f7b91 1%,#566876 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f7b91', endColorstr='#566876',GradientType=0 ); /* IE6-9 */
}

#footer ul {
	list-style-type: none;
	width: 100%;
	margin: 0;
}

#footer li {
	width: 33%;
	float: left;
	line-height: 4em;
	height: 3em;
	padding-top: 1em;
}

#footer li img {
	display: block;
	margin: 0 auto; 
}

#li-nav-one, #li-nav-two {
	border-right: 1px solid white;
}


/* map view */

.view-one {
	background-image: url('../images/fake-map/parkingperfect.png');
	background-position: -1043px -888px;
	background-repeat: no-repeat;
	background-color: white;
	width: 420px;
	height: 42em;
	margin: 0;
}

.two {
	background-image: url('../images/fake-map/ppColor.png');
}

/* list page */



#list-view ul {
	list-style-type: none;
	z-index: -10;
}

li.panel-body {
	padding: 5px 0 5px 0;
	background: #fefefe; /* Old browsers */
background: -moz-linear-gradient(top,  #fefefe 1%, #fafafa 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fefefe), color-stop(100%,#fafafa)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fefefe 1%,#fafafa 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fefefe 1%,#fafafa 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fefefe 1%,#fafafa 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fefefe 1%,#fafafa 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#fafafa',GradientType=0 ); /* IE6-9 */
}

.list-group {
	left: 20px;
	position: absolute;
	width: 89%;
	overflow: scroll;
}

/* user settings */

/* ben */

#settings-page h3 {
	text-align: center;
	margin-bottom: 1em;
}

#favorites ul {
	list-style-type: none;
}

#help-buttons {
	margin: 0 auto;
	display: block;
	width:61%;
}



.permit-types {
	margin-right: 2em;
	margin: 0 auto;
	display: block;
}

#permit-submit {
	margin-left: 2em;
}

#favorites ul li {
	width: 100%;
	float: right;
	clear: both;
	padding: 0.5em;
	font-size: 21px;
	border-top: 1px solid #E1E1E1;
}

#favorites {
	margin-top: 2em;
	float: left;
	width: 100%;
}

#favorites ul li img {
	float: right;
	width: 20px;
}

#permits {
	margin-top: 2em;
	float: left;
	width: 100%;
}

#favorites {
	margin-top: 2em;
}

#favorites input {
	width: 80%;
	margin: 0;
}

#setSpot {
	width: 100%;
	display: block;
	margin-bottom: 1.5em;
}

button.spotset {
	float: right;
}

#favorites li:nth-child(odd) {
	background-color: #EFEFEF;
}

#favorites li:nth-child(even) {
	background-color: #FAFAFA;
}

#hiddendata {
	visibility: hidden;
}

#outputInfo {
	margin: 0.5em 0;
	visibility: hidden;
	color: white;
	border-radius: 3px;
	width: 100%;
	text-align:center; 
}

/* RESPONSIVE LAYOUT DESIGN */

/* smartphones */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
.view-one {width: 360px; height: 500px;}
.sel {margin-bottom: 0;}
.ssel select {margin-left: 3em;}
#timepicker2 {margin: 5px 0 1em;}
#timepicker1 {margin-bottom: 5px;}
#key img {width: 12px;}
#key li {line-height: 17px;}

}

/* smartphones landscape */
@media only screen and (min-width: 321px) {
	
}
/* smartphones portrait */
@media only screen and (max-width: 430px) {
	
}
/* ipads portrait and landscape */
@media only screen and (min-device-width: 768) and (max-device-width: 1024px) {

}
/* desktops and laptops */
@media only screen and (min-width: 1200px) {

}