body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0;
}

/* search box */

#search-box {
	width: 23em;
	height: 93%; 
	left: -19em;
	position: absolute;
	background: #5f7b91; /* Old browsers */
background: -moz-linear-gradient(top,  #5f7b91 1%, #566876 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#5f7b91), color-stop(100%,#566876)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #5f7b91 1%,#566876 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #5f7b91 1%,#566876 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #5f7b91 1%,#566876 100%); /* IE10+ */
background: linear-gradient(to bottom,  #5f7b91 1%,#566876 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f7b91', endColorstr='#566876',GradientType=0 ); /* IE6-9 */
}

#mag-click {
	margin: 1em;
	float: right;
}

#search {
	padding-top: 1em;
	color: white;
	height: 70%;
}

#filters {
	margin-top: 4.5em;
	padding:0 1em 0 1em; 
}

#main-search {
	display: block;
	margin: 0 auto;
}

#key {
	color: white;
}

#key ul {
	list-style-type: none;
	float: left;
	margin-left: 1em;
}

#key li {
	margin: 1em 0;
}

#key li img {
	padding-right: 0.5em;
}

/* filters */

#filters ul {
	list-style-type: none;
	margin: 1em;
}

.filter-drop {
	width: 4em;
	float: left;
}

.filter {
	clear: both;
	float: left;
	margin-bottom: 2em;
}

.filter img {
	float: left;
}

li.filter input {
	float: left;
	margin: 0.7em 0 0 2em;
}

.filter label {
	float: left;
	padding: 0.4em;
}

.ssel {
	float: left;
	width: 8em;
	margin-left: 3em;
}

#dollimg {
	padding-left: 9px;
}

#timefilter {
	font-size: 20px;
	float: left;
}

#submit {
	margin: 0 auto;
	display: block;
	width: 12em;
}


/* footer */

#footer {
	height: 4em;
	bottom: 0;
	width: 100%;
	position: absolute;
	background: #5f7b91; /* Old browsers */
background: -moz-linear-gradient(top,  #5f7b91 1%, #566876 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#5f7b91), color-stop(100%,#566876)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #5f7b91 1%,#566876 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #5f7b91 1%,#566876 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #5f7b91 1%,#566876 100%); /* IE10+ */
background: linear-gradient(to bottom,  #5f7b91 1%,#566876 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f7b91', endColorstr='#566876',GradientType=0 ); /* IE6-9 */
}

#footer ul {
	list-style-type: none;
	width: 100%;
	margin: 0;
}

#footer li {
	width: 33%;
	float: left;
	line-height: 4em;
	height: 3em;
	padding-top: 1em;
}

#footer li img {
	display: block;
	margin: 0 auto; 
}

#li-nav-one, #li-nav-two {
	border-right: 1px solid white;
}


/* map view */

.view-one {
	background-image: url('../images/fake-map/parkingperfect.png');
	background-position: -1043px -888px;
	background-repeat: no-repeat;
	background-color: white;
	width: 420px;
	height: 688px;
	margin: 0;
}

.two {
	background-image: url('../images/fake-map/ppColor.png');
}

/* list page */


#list-view {
	width: 420px;
	height: 688px;
	overflow: auto;
}


#list-view ul {
	list-style-type: none;
	z-index: -10;
}

li.panel-body {
	padding: 5px 0 5px 0;
	background: #fefefe; /* Old browsers */
background: -moz-linear-gradient(top,  #fefefe 1%, #fafafa 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fefefe), color-stop(100%,#fafafa)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fefefe 1%,#fafafa 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fefefe 1%,#fafafa 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fefefe 1%,#fafafa 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fefefe 1%,#fafafa 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#fafafa',GradientType=0 ); /* IE6-9 */
}

.list-group {
	left: 20px;
	position: absolute;
	width: 89%;
}

/* user settings */

#settings-page {
	padding: 0 2em;
}

#settings-page h3 {
	text-align: center;

}

#favorites ul {
	list-style-type: none;
}

#help-buttons {
	margin: 0 auto;
	display: block;
	width:61%;
}

#help-buttons a {
	margin-left: 15px;
}

.permit-types {
	float: right;
	margin-right: 2em;
}

#permit-submit {
	margin-left: 2em;
}

#favorites ul li {
	width: 10em;
	float: right;
	margin-right: 3em;
	clear: both;
	padding: 0.5em;
	font-size: 21px;
	border-bottom: 1px solid black;
}

#favorites ul li img {
	float: right;
	width: 20px;
}

